.elementor-15729 .elementor-element.elementor-element-aaaae2b:not(.elementor-motion-effects-element-type-background),
.elementor-15729 .elementor-element.elementor-element-aaaae2b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(307deg, #AE0039 0%, #f2295b 100%);
}

.elementor-15729 .elementor-element.elementor-element-aaaae2b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -59px;
    margin-bottom: -59px;
    padding: 12px 12px 12px 12px;
}

.elementor-15729 .elementor-element.elementor-element-aaaae2b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-847571a {
    text-align: center;
}

.elementor-15729 .elementor-element.elementor-element-847571a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Rozha One", Sans-serif;
    font-size: 48px;
    font-weight: 100;
}

.elementor-15729 .elementor-element.elementor-element-9975716>.elementor-container {
    max-width: 1600px;
}

.elementor-15729 .elementor-element.elementor-element-9975716:not(.elementor-motion-effects-element-type-background),
.elementor-15729 .elementor-element.elementor-element-9975716>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(281deg, #6D5FB0 0%, #031689 100%);
}

.elementor-15729 .elementor-element.elementor-element-9975716 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: -24px -24px -24px -24px;
}

.elementor-15729 .elementor-element.elementor-element-9975716>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-206f796 img {
    width: 100%;
    opacity: 1;
}

.elementor-15729 .elementor-element.elementor-element-206f796>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 1px;
}

.elementor-15729 .elementor-element.elementor-element-59392d7>.elementor-element-populated {
    margin: 37px 37px 37px 37px;
    --e-column-margin-right: 37px;
    --e-column-margin-left: 37px;
}

.elementor-15729 .elementor-element.elementor-element-aa95b3b .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Tahoma", Sans-serif;
    font-size: 35px;
    font-weight: 100;
    line-height: 1px;
    letter-spacing: 1px;
    word-spacing: 12px;
}

.elementor-15729 .elementor-element.elementor-element-aa95b3b>.elementor-widget-container {
    margin: -27px -27px -27px -27px;
    padding: 21px 21px 21px 21px;
}

.elementor-15729 .elementor-element.elementor-element-9baee43 {
    column-gap: 24px;
    color: #FFFFFF;
    font-family: "Arial", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
}

.elementor-15729 .elementor-element.elementor-element-9baee43>.elementor-widget-container {
    margin: -54px -54px -54px -54px;
    padding: 55px 55px 55px 55px;
}

.elementor-15729 .elementor-element.elementor-element-8761e88>.elementor-container {
    max-width: 1600px;
}

.elementor-15729 .elementor-element.elementor-element-8761e88 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -99px;
    margin-bottom: -99px;
    padding: 30px 30px 30px 30px;
}

.elementor-15729 .elementor-element.elementor-element-8761e88>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-438bc75 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-15729 .elementor-element.elementor-element-438bc75 .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 31px;
}

.elementor-15729 .elementor-element.elementor-element-438bc75>.elementor-widget-container {
    margin: -1px -1px -1px -1px;
    padding: -13px -13px -13px -13px;
}

.elementor-15729 .elementor-element.elementor-element-438bc75 {
    width: 100%;
    max-width: 100%;
}

.elementor-15729 .elementor-element.elementor-element-f9bd92c>.elementor-container {
    max-width: 1353px;
}

.elementor-15729 .elementor-element.elementor-element-f9bd92c:not(.elementor-motion-effects-element-type-background),
.elementor-15729 .elementor-element.elementor-element-f9bd92c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(266deg, #960350 15%, #7323BF 58%);
}

.elementor-15729 .elementor-element.elementor-element-f9bd92c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 81px;
    margin-bottom: 81px;
    padding: 23px 23px 23px 23px;
}

.elementor-15729 .elementor-element.elementor-element-f9bd92c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-7a71826>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -2px -2px -2px -2px;
}

.elementor-15729 .elementor-element.elementor-element-fd27a98 img {
    width: 100%;
    max-width: 100%;
    opacity: 1;
}

.elementor-15729 .elementor-element.elementor-element-fd27a98>.elementor-widget-container {
    margin: 2px 2px 2px 2px;
    padding: -6px -6px -6px -6px;
}

.elementor-15729 .elementor-element.elementor-element-efe1da2>.elementor-element-populated {
    margin: 37px 37px 37px 37px;
    --e-column-margin-right: 37px;
    --e-column-margin-left: 37px;
}

.elementor-15729 .elementor-element.elementor-element-a8c3de7 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-15729 .elementor-element.elementor-element-a8c3de7>.elementor-widget-container {
    margin: -27px -27px -27px -27px;
    padding: 21px 21px 21px 21px;
}

.elementor-15729 .elementor-element.elementor-element-fda0b08 {
    column-gap: 24px;
    color: #FFFFFF;
    font-family: "Arial", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.elementor-15729 .elementor-element.elementor-element-fda0b08>.elementor-widget-container {
    margin: -59px -59px -59px -59px;
    padding: 57px 57px 57px 57px;
}

.elementor-15729 .elementor-element.elementor-element-8b13387>.elementor-container {
    max-width: 1600px;
}

.elementor-15729 .elementor-element.elementor-element-8b13387 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -129px;
    margin-bottom: -129px;
    padding: 30px 30px 30px 30px;
}

.elementor-15729 .elementor-element.elementor-element-8b13387>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-2cd47cf .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-15729 .elementor-element.elementor-element-2cd47cf .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 31px;
}

.elementor-15729 .elementor-element.elementor-element-2cd47cf>.elementor-widget-container {
    margin: -1px -1px -1px -1px;
    padding: -13px -13px -13px -13px;
}

.elementor-15729 .elementor-element.elementor-element-2cd47cf {
    width: 100%;
    max-width: 100%;
}

.elementor-15729 .elementor-element.elementor-element-6a71d31>.elementor-container {
    max-width: 1353px;
}

.elementor-15729 .elementor-element.elementor-element-6a71d31:not(.elementor-motion-effects-element-type-background),
.elementor-15729 .elementor-element.elementor-element-6a71d31>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(261deg, #0E4BA7 0%, #20808F 58%);
}

.elementor-15729 .elementor-element.elementor-element-6a71d31 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 98px;
    margin-bottom: 98px;
    padding: 7px 7px 7px 7px;
}

.elementor-15729 .elementor-element.elementor-element-6a71d31>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-7b7754a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -2px -2px -2px -2px;
}

.elementor-15729 .elementor-element.elementor-element-a526ab6 img {
    width: 100%;
    opacity: 1;
}

.elementor-15729 .elementor-element.elementor-element-fe07a24>.elementor-element-populated {
    margin: 37px 37px 37px 37px;
    --e-column-margin-right: 37px;
    --e-column-margin-left: 37px;
}

.elementor-15729 .elementor-element.elementor-element-a2d667f .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-15729 .elementor-element.elementor-element-a2d667f>.elementor-widget-container {
    margin: -27px -27px -27px -27px;
    padding: 21px 21px 21px 21px;
}

.elementor-15729 .elementor-element.elementor-element-42012a3 {
    column-gap: 19px;
    color: #FFFFFF;
    font-family: "Arial", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.elementor-15729 .elementor-element.elementor-element-42012a3>.elementor-widget-container {
    margin: -59px -59px -59px -59px;
    padding: 57px 57px 57px 57px;
}

.elementor-15729 .elementor-element.elementor-element-7ead52f>.elementor-container {
    max-width: 1600px;
}

.elementor-15729 .elementor-element.elementor-element-7ead52f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -129px;
    margin-bottom: -129px;
    padding: 30px 30px 30px 30px;
}

.elementor-15729 .elementor-element.elementor-element-7ead52f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-c852a44 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-15729 .elementor-element.elementor-element-c852a44 .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 31px;
}

.elementor-15729 .elementor-element.elementor-element-c852a44>.elementor-widget-container {
    margin: -1px -1px -1px -1px;
    padding: -13px -13px -13px -13px;
}

.elementor-15729 .elementor-element.elementor-element-c852a44 {
    width: 100%;
    max-width: 100%;
}

.elementor-15729 .elementor-element.elementor-element-965493f>.elementor-container {
    max-width: 1600px;
}

.elementor-15729 .elementor-element.elementor-element-965493f:not(.elementor-motion-effects-element-type-background),
.elementor-15729 .elementor-element.elementor-element-965493f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(281deg, #043501 0%, #3B8144 100%);
}

.elementor-15729 .elementor-element.elementor-element-965493f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 86px;
    margin-bottom: 86px;
    padding: -24px -24px -24px -24px;
}

.elementor-15729 .elementor-element.elementor-element-965493f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-09666a6 img {
    width: 100%;
    opacity: 1;
}

.elementor-15729 .elementor-element.elementor-element-09666a6>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 1px;
}

.elementor-15729 .elementor-element.elementor-element-aa5cda1>.elementor-element-populated {
    margin: 37px 37px 37px 37px;
    --e-column-margin-right: 37px;
    --e-column-margin-left: 37px;
}

.elementor-15729 .elementor-element.elementor-element-328c8f2 .elementor-heading-title {
    color: #FFC860;
}

.elementor-15729 .elementor-element.elementor-element-328c8f2>.elementor-widget-container {
    margin: -27px -27px -27px -27px;
    padding: 21px 21px 21px 21px;
}

.elementor-15729 .elementor-element.elementor-element-a6f87e7 {
    column-gap: 19px;
    color: #FFFFFF;
    font-family: "Arial", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.elementor-15729 .elementor-element.elementor-element-a6f87e7>.elementor-widget-container {
    margin: -59px -59px -59px -59px;
    padding: 57px 57px 57px 57px;
}

.elementor-15729 .elementor-element.elementor-element-03206d3>.elementor-container {
    max-width: 1600px;
}

.elementor-15729 .elementor-element.elementor-element-03206d3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -99px;
    margin-bottom: -99px;
    padding: 30px 30px 30px 30px;
}

.elementor-15729 .elementor-element.elementor-element-03206d3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-be76328 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-15729 .elementor-element.elementor-element-be76328 .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 31px;
}

.elementor-15729 .elementor-element.elementor-element-be76328>.elementor-widget-container {
    margin: -1px -1px -1px -1px;
    padding: -13px -13px -13px -13px;
}

.elementor-15729 .elementor-element.elementor-element-be76328 {
    width: 100%;
    max-width: 100%;
}

.elementor-15729 .elementor-element.elementor-element-971a20c>.elementor-container {
    max-width: 1600px;
}

.elementor-15729 .elementor-element.elementor-element-971a20c:not(.elementor-motion-effects-element-type-background),
.elementor-15729 .elementor-element.elementor-element-971a20c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(281deg, #565011 0%, #AA6702 100%);
}

.elementor-15729 .elementor-element.elementor-element-971a20c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 86px;
    margin-bottom: 86px;
    padding: -24px -24px -24px -24px;
}

.elementor-15729 .elementor-element.elementor-element-971a20c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-5144603 img {
    width: 100%;
    opacity: 1;
}

.elementor-15729 .elementor-element.elementor-element-5144603>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 1px 1px;
}

.elementor-15729 .elementor-element.elementor-element-2b8148b>.elementor-element-populated {
    margin: 37px 37px 37px 37px;
    --e-column-margin-right: 37px;
    --e-column-margin-left: 37px;
}

.elementor-15729 .elementor-element.elementor-element-e6db093 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-15729 .elementor-element.elementor-element-e6db093>.elementor-widget-container {
    margin: -27px -27px -27px -27px;
    padding: 21px 21px 21px 21px;
}

.elementor-15729 .elementor-element.elementor-element-27836bd {
    column-gap: 19px;
    color: #FFFFFF;
    font-family: "Arial", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.elementor-15729 .elementor-element.elementor-element-27836bd>.elementor-widget-container {
    margin: -59px -59px -59px -59px;
    padding: 57px 57px 57px 57px;
}

.elementor-15729 .elementor-element.elementor-element-e3438f1>.elementor-container {
    max-width: 1600px;
}

.elementor-15729 .elementor-element.elementor-element-e3438f1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -99px;
    margin-bottom: -99px;
    padding: 30px 30px 30px 30px;
}

.elementor-15729 .elementor-element.elementor-element-e3438f1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15729 .elementor-element.elementor-element-ce08f76 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-15729 .elementor-element.elementor-element-ce08f76 .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 31px;
}

.elementor-15729 .elementor-element.elementor-element-ce08f76>.elementor-widget-container {
    margin: -1px -1px -1px -1px;
    padding: -13px -13px -13px -13px;
}

.elementor-15729 .elementor-element.elementor-element-ce08f76 {
    width: 100%;
    max-width: 100%;
}

body.elementor-page-15729:not(.elementor-motion-effects-element-type-background),
body.elementor-page-15729>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("https://i0.wp.com/bimt.lk/wp-content/uploads/2023/02/bfbfgnf.png?fit=600%2C175&ssl=1");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:1024px) {

    body.elementor-page-15729:not(.elementor-motion-effects-element-type-background),
    body.elementor-page-15729>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }
}

@media(max-width:767px) {

    body.elementor-page-15729:not(.elementor-motion-effects-element-type-background),
    body.elementor-page-15729>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-15729 .elementor-element.elementor-element-1e2c8c4 {
        width: 34.772%;
    }

    .elementor-15729 .elementor-element.elementor-element-59392d7 {
        width: 65.228%;
    }

    .elementor-15729 .elementor-element.elementor-element-7a71826 {
        width: 34.772%;
    }

    .elementor-15729 .elementor-element.elementor-element-efe1da2 {
        width: 65.228%;
    }

    .elementor-15729 .elementor-element.elementor-element-7b7754a {
        width: 34.772%;
    }

    .elementor-15729 .elementor-element.elementor-element-fe07a24 {
        width: 65.228%;
    }

    .elementor-15729 .elementor-element.elementor-element-a94aac8 {
        width: 34.772%;
    }

    .elementor-15729 .elementor-element.elementor-element-aa5cda1 {
        width: 65.228%;
    }

    .elementor-15729 .elementor-element.elementor-element-f80b333 {
        width: 34.772%;
    }

    .elementor-15729 .elementor-element.elementor-element-2b8148b {
        width: 65.228%;
    }
}

@media(min-width:1025px) {

    body.elementor-page-15729:not(.elementor-motion-effects-element-type-background),
    body.elementor-page-15729>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}